
/* Main stylesheet for test Page */

/* importing Roboto font from google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

/* General */

    body {
        color: black;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300 !important;
        margin-top:90px;
    }

    header {
        color: rebeccapurple;
        position:fixed;
        top:0;
        height: 80px;
        width:100%;
        border-bottom: solid;
        background-color: grey;
    }

    section {
        max-width: 100%;
        width: 900px;
        margin: auto;
    }

/* header */

    #site-title {
        display: inline-block;
    }

/* Dropdown Menu Header */

    .option1-menu {
        float: right;
        margin-right: 80px;
        list-style: none;
    }

    [data-trigger="dropdown"] {
        padding-bottom: 50px;
    }

    .submenu {
        list-style: none;
        padding: 0px;
        border: 1px solid;
        background: white;
        margin-top: 40px;
        box-shadow: 2px 2px 15px gray;
        position: absolute;
        right: 10px;
        width: 300px;
        display: none;
    }

    .submenu.active {
        display: block;
    }

    .submenu a {
        text-decoration: none;
        padding: 10px 10px;
        display: block;
        text-shadow: none;
        color: red;
    }

    .submenu a:hover {
        background: gray;
    }

/* Context Menu */

    #context {
        position: absolute;
        background: yellow;
        box-shadow: 2px 2px 15px;
        display:none;
    }

    .context-menu a {
        display: block;
        width: 200px;
    }

    .context-menu a:hover {
        background: yellowgreen;
    }

    .context-menu {
        list-style: none;
        padding: 0px;
    }

    /* image-specific entries */
    .context-menu a.hiddenimg {
        display:none;
    }

    /* otherwhise shown elements would be inline by default */
    .context-menu a.hiddenimg.shown {
        display:block;
    }